/*！
 * Imported in main.css!
 * last-date: 2017-7-12
 */

#sos-footer {
    /* height: 400px;    */
    background-color: #355c7d;
    color: #eee;
    
    /* display: block; */

    padding: 15px;
}