/**
 * @description: imported in main.css!
 * @last-date: 2017-7-8
 */
/*全局设置*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    
    margin: 0;
    padding: 0;

    /*color: #aaa;*/
}

[class*="sos-col-"] {
    float: left;
}

/*For mobile phones*/
[class*="sos-col-"] {
    width: 100%;
}
/*For tablets*/
@media only screen and (min-width: 600px) {
    .sos-col-m-1 {width: 8.33%;}
    .sos-col-m-2 {width: 16.66%;}
    .sos-col-m-3 {width: 25%;}
    .sos-col-m-4 {width: 33.33%;}
    .sos-col-m-5 {width: 41.66%;}
    .sos-col-m-6 {width: 50%;}
    .sos-col-m-7 {width: 58.33%;}
    .sos-col-m-8 {width: 66.66%;}
    .sos-col-m-9 {width: 75%;}
    .sos-col-m-10{width: 83.33%;}
    .sos-col-m-11{width: 91.66%;}
    .sos-col-m-12{width: 100%;}    
}
/*For PC*/
@media only screen and (min-width: 768px) {
    .sos-col-1 {width: 8.33%;}
    .sos-col-2 {width: 16.66%;}
    .sos-col-3 {width: 25%;}
    .sos-col-4 {width: 33.33%;}
    .sos-col-5 {width: 41.66%;}
    .sos-col-6 {width: 50%;}
    .sos-col-7 {width: 58.33%;}
    .sos-col-8 {width: 66.66%;}
    .sos-col-9 {width: 75%;}
    .sos-col-10{width: 83.33%;}
    .sos-col-11{width: 91.66%;}
    .sos-col-12{width: 100%;}    
}